<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AUTOPROFI</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/laba_8_MVC.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" asp-append-version="true" />
    
</head>
<body>
    <header class="header">
        <div class="nav">
            <a href="/home">Главная</a>
            <a href="/services">Услуги</a>
            <a href="/contacts">Контакты</a>
            <a href="/order">Заказать звонок</a>
    </header>
    <div id="home">
        <div class="main">
            <img src="https://findesk.ru/upload/iblock/702/70227dde576ad2f1a79c1c2f4d9d1389.jpg"
                 alt="Главное изображение" style="position: sticky; left: 235324634px">
            <div class="text-box">
                <h1 align="left">AUTOPROFI</h1>
                <h3><p align="justify">
                    Мы оказываем качественные услуги по эвакуации автомобилей, ремонту, прикуриванию,
                    заправке, замене колёс, а также другие виды обслуживания на месте поломке.
                </h3></p>
            </div>
        </div>
    </div>
    <div id="services">
        <div class="uslugi">
            <h2><strong>НАШИ УСЛУГИ</strong></h2>
        </div>
    </div>
    <p class="uslugi-description" align="justify">
        <strong>
            Наша команда профессиональных механиков готова оказать вам
            помощь в любых вопросах, связанных с техническим обслуживанием и ремонтом автомобилей.
        </strong>
    </p>
    <div class="services-container">
        <div class="service-column">
            <img src="https://avtodozorshop.ru/wp-content/uploads/1/a/6/1a6c1e59a9bd208066049e3d6390d83a.jpeg"
                 alt="Услуга 1" class="service-image" style="transform: scaleX(-1);">
            <div class="service-description">
                <p><strong>Выездная диагностика</strong></p>
                <p>От 3500р.</p>
            </div>
            <img src="https://www.urdesignmag.com/wp-content/uploads/2021/01/car-locksmith-virginia-beach-fast-reliable-car-security-1-2048x1365.jpg"
                 alt="Услуга 2" class="service-image">
            <div class="service-description">
                <p><strong>Вскрытие авто</strong>></p>
                <p>От 2500р.</p>

            </div>
        </div>
        <div class="service-column">
            <img src="https://avatars.mds.yandex.net/i?id=ed5e99b0398aa46da6531258adc7aba0-4798081-images-thumbs&n=13"
                 alt="Услуга 3" class="service-image">
            <div class="service-description">
                <p><strong>Прикуривание АКБ</strong></p>
                <p>От 1500р.</p>
            </div>
            <img src="https://avatars.mds.yandex.net/get-ydo/12406519/2a0000018d653269b943737ed5e373dc2d4f/diploma"
                 alt="Услуга 4" class="service-image">
            <div class="service-description">
                <p><strong>Отключение сигнализации</strong></p>
                <p>От 3000р.</p>
            </div>
        </div>
        <div class="service-column">
            <img src="https://kolesa-photos.kcdn.online/kolesa-read/2018/07/10/7c3f0153894811fc4754196e70a37c6afdcc4609-1193x671.jpg"
                 alt="Услуга 5" class="service-image">
            <div class="service-description">
                <p><strong>Замена АКБ</strong></p>
                <p>От 3000р.</p>
            </div>
            <img src="https://avatars.mds.yandex.net/get-ydo/11397567/2a0000018d22706eba6dbad70a71c095fe3c/diploma"
                 alt="Услуга 6" class="service-image">
            <div class="service-description">
                <p><strong>Шиномантаж</strong></p>
                <p>От 2500р.</p>

            </div>
        </div>
    </div>
    <div id="contacts">
        <footer style="background-color: rgb(21, 21, 21); color: white; padding: 20px 0;">
            <div class="footer-container" style="display: flex; justify-content: space-around; width: 100%; margin: 0;">
                <div class="footer-column" style="text-align: center;">
                    <img src="https://img.icons8.com/material-outlined/50/ffffff/map-marker.png" alt="Навигатор"
                         style="width: 50px; height: 50px;">
                    <p><strong>Где мы</strong></p>
                    <p style="color: rgb(167, 167, 167)">Работаем по всё поскве</p>
                </div>
                <div class="footer-column" style="text-align: center;">
                    <img src="https://img.icons8.com/material-outlined/50/ffffff/phone.png" alt="Телефон"
                         style="width: 50px; height: 50px;">
                    <p><strong>Контакты</strong></p>
                    <p style="color: rgb(167, 167, 167)">+7 917 525 18 02</p>
                    <p style="color: rgb(167, 167, 167)">Whatsapp</p>
                </div>
                <div class="footer-column" style="text-align: center;">
                    <img src="https://img.icons8.com/material-outlined/50/ffffff/clock.png" alt="Часы"
                         style="width: 50px; height: 50px;">
                    <p><strong>График</strong></p>
                    <p style="color: rgb(167, 167, 167)">Ежедневно</p>
                    <p style="color: rgb(167, 167, 167)">6:00-23:00</p>
                </div>
            </div>
        </footer>
    </div>
    <main>
        @RenderBody()
    </main>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
